@{
    Layout = "~/Views/Shared/_LayoutSansHeader.cshtml";
    ViewData["Title"] = "Copyright";
}
<h1>@ViewData["Title"]</h1>

<p>Toute reproduction ou distribution non autorisée de cette oeuvre est strictement interdite et peut entraîner des poursuites judiciaires.</p>
